@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Rajdhani&display=swap');
body{
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    font-family: 'Rajdhani', sans-serif;
    background-color: #1b1c1c;
    color: white;
}
h1{
    font-family: 'Montserrat', sans-serif;
    border-bottom-style: inset;
}

figure{
    display: inline-block;
    font-size: 0.7rem;
    margin: 5px;
}

img .poltrona{
    width: 24;
    height: 16px;
}